/.gradle
/.idea/*
geb
build
.setting
target
/*.iml
local.properties
.DS_Store
captures
weiboSDK/build/intermediates/bundles/debug/classes.jar
weiboSDK/build/intermediates/bundles/debug/res/drawable/com_sina_weibo_sdk_button_blue.xml
weiboSDK/build/intermediates/bundles/debug/res/drawable/com_sina_weibo_sdk_button_grey.xml
weiboSDK/build/intermediates/bundles/debug/res/drawable/com_sina_weibo_sdk_login_button_with_account_text.xml
weiboSDK/build/intermediates/bundles/debug/res/drawable/com_sina_weibo_sdk_login_button_with_frame_logo.xml
weiboSDK/build/intermediates/bundles/debug/res/drawable/com_sina_weibo_sdk_login_button_with_original_logo.xml
weiboSDK/build/intermediates/bundles/debug/res/values-en/values-en.xml
weiboSDK/build/intermediates/bundles/debug/res/values-zh-rTW/values-zh-rTW.xml
weiboSDK/build/intermediates/bundles/debug/res/values/values.xml
weiboSDK/build/intermediates/bundles/release/classes.jar
weiboSDK/build/intermediates/bundles/release/res/drawable/com_sina_weibo_sdk_button_blue.xml
weiboSDK/build/intermediates/bundles/release/res/drawable/com_sina_weibo_sdk_button_grey.xml
weiboSDK/build/intermediates/bundles/release/res/drawable/com_sina_weibo_sdk_login_button_with_account_text.xml
weiboSDK/build/intermediates/bundles/release/res/drawable/com_sina_weibo_sdk_login_button_with_frame_logo.xml
weiboSDK/build/intermediates/bundles/release/res/drawable/com_sina_weibo_sdk_login_button_with_original_logo.xml
weiboSDK/build/intermediates/bundles/release/res/values-en/values-en.xml
weiboSDK/build/intermediates/bundles/release/res/values-zh-rTW/values-zh-rTW.xml
weiboSDK/build/intermediates/bundles/release/res/values/values.xml
weiboSDK/build/intermediates/classes/debug/com/sina/weibo/sdk/codestyle/CodingRuler.class
weiboSDK/build/intermediates/classes/release/com/sina/weibo/sdk/codestyle/CodingRuler.class
weiboSDK/build/intermediates/incremental/mergeAssets/androidTest/debug/merger.xml
weiboSDK/build/intermediates/incremental/mergeAssets/debug/merger.xml
weiboSDK/build/intermediates/incremental/mergeAssets/release/merger.xml
weiboSDK/build/intermediates/incremental/mergeResources/androidTest/debug/merger.xml
weiboSDK/build/intermediates/incremental/packageResources/debug/merger.xml
weiboSDK/build/intermediates/incremental/packageResources/release/merger.xml
weiboSDK/build/intermediates/res/androidTest/debug/drawable/com_sina_weibo_sdk_button_blue.xml
weiboSDK/build/intermediates/res/androidTest/debug/drawable/com_sina_weibo_sdk_button_grey.xml
weiboSDK/build/intermediates/res/androidTest/debug/drawable/com_sina_weibo_sdk_login_button_with_account_text.xml
weiboSDK/build/intermediates/res/androidTest/debug/drawable/com_sina_weibo_sdk_login_button_with_frame_logo.xml
weiboSDK/build/intermediates/res/androidTest/debug/drawable/com_sina_weibo_sdk_login_button_with_original_logo.xml
weiboSDK/build/intermediates/res/androidTest/debug/values-en/values-en.xml
weiboSDK/build/intermediates/res/androidTest/debug/values-zh-rTW/values-zh-rTW.xml
weiboSDK/build/intermediates/res/androidTest/debug/values/values.xml
weiboSDK/build/intermediates/resources/resources-debug-androidTest.ap_
weiboSDK/build/outputs/aar/weiboSDK-debug.aar
weiboSDK/build/outputs/aar/weiboSDK-release.aar
weiboSDK/build/tmp/packageDebugJar/MANIFEST.MF
weiboSDK/build/tmp/packageReleaseJar/MANIFEST.MF
app/app.iml
pulltorefresh/pulltorefresh.iml
